---
import Anker from "../Anker/Anker.astro";
import type { Book } from "../../data/books.json";

interface Props {
  book: Book;
}
const {
  book: { title, authors, tags, state, url, subtitle },
} = Astro.props;
---

<div>
  <div>
    <div class="title">{title}</div>
    {subtitle && <div class="subtitle">{subtitle}</div>}
  </div>
  <div class="authors">{authors.join(" ")}</div>
  <div class="tags">
    <span class:list={["tag", "state"]} data-state={state}>{state}</span>
    {
      tags.map((tag) => (
        <span class="tag" data-tag={tag}>
          {tag}
        </span>
      ))
    }
  </div>
  <Anker href={url} text="詳細を見る" />
  <slot />
</div>

<script>
  const onClick =
    (key: string): ((e: Event) => void) =>
    (e) => {
      const target = e.target as HTMLElement | null;
      if (!target) return;
      const data = target.dataset[key];
      if (!data) return;
      const currentURL = new URL(window.location.href);
      const value = currentURL.searchParams.get(key);
      console.log(value, data);
      if (value && value === data) {
        currentURL.searchParams.delete(key);
      } else {
        currentURL.searchParams.set(key, data);
      }
      window.location.href = currentURL.toString();
    };
  const addClickEventListener = (selector: string, key: string) => {
    const $elements = document.querySelectorAll(selector);
    $elements.forEach(($element) => {
      $element.addEventListener("click", onClick(key));
    });
  };

  addClickEventListener(".state", "state");
  addClickEventListener(".tag:not(.state)", "tag");
</script>

<style>
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .subtitle {
    margin-left: 1rem;
    color: gray;
  }
  .subtitle::before {
    content: "〜";
  }
  .subtitle::after {
    content: "〜";
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.5rem 0;
  }
  .tag {
    padding: 0.2rem 0.5rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  [data-state="読了"] {
    background-color: #effde7;
  }
  [data-state="読書中"] {
    background-color: #fff8e1;
  }
  [data-state="積読"] {
    background-color: #ffe8e9;
  }
</style>
